#foo-bottom {
    height: 30px;
	text-decoration:none;
    background: #FFFFFF;
    padding-top: 5px;
    padding-left: 15px;
    bottom:0;
    position:fixed;
    background-attachment: fixed;	
    width: 100%;
    background-repeat: no-repeat;
}

#txt-standard {
	text-decoration:none;
}


#item_table{
    font-size: 16px;

}


#item_table thead tr th:nth-child(5){
    max-width: 50px;
    
}
#item_table thead tr th:nth-child(4){
    max-width: 50px;
    
    
}
#item_table thead tr th:nth-child(6){
    max-width: 50px;
}
#item_table thead tr th:nth-child(9){
    min-width: 120px;
    max-width: 120px;
}







#pcm_table thead tr th:nth-child(10){
    min-width: 100px;
    max-width: 100px;
    
}
#stock_table thead tr th:nth-child(11){
    min-width: 120px;
    max-width: 120px;
    
}
.parent div {
    float:left;
    min-width:200px;/*optional*/
    padding:10px;
    border:1px solid orange;
  }
 
  #entry_rect_table{
    font-size: 16px;

}

