
.gallery {
    display: inline-block;
    background: #f5f5f5;
    padding-top: 220px;
    margin-left: -52px;
    margin-right: -50px;
}
.close-icon{
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: -10px;
    padding: 5px 8px;
}
.form-image-upload{
    background: #e8e8e8 none repeat scroll 0 0;
    padding: 15px;
}
.img1 {
width: 1200px !important;
height: 170px !important;
padding-top: 28px;
margin-left: 69px;
}
.list-group.gallery {
   
    padding-right: 375px;
    margin-left: -223px;
    margin-right: -227px;
}

